.first-block {
  width: 100%;
  opacity: 0;
  animation: first-block 1s linear forwards 250ms;
}

@keyframes first-block {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.delayed {
  opacity: 0;
  animation: delayed 1.2s linear forwards 1.5s;
}

@keyframes delayed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#univers .services {
  li {
    opacity: 0;
    animation: univers-services 1s linear forwards .75s;

    &:nth-child(2) {
      animation-delay: 1.5s;
    }

    &:nth-child(3) {
      animation-delay: 2.25s;
    }

    &:nth-child(4) {
      animation-delay: 3s;
    }

    &:nth-child(5) {
      animation-delay: 3.75s;
    }

    &:last-child {
      animation-delay: 4.5s;
    }
  }
}

@keyframes univers-services {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#federation {
  & > * {
    opacity: 0;
    animation: federation 1s linear forwards .75s;
  }

  .services {
    animation-delay: .5s;
  }

  p {
    animation-delay: 2s;
  }

  nav {
    animation-delay: 3s;
  }
}

@keyframes federation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#federation-2 {
  li {

    &:nth-child(2) {
      img {
        animation: federation-2-1 .5s linear forwards .5s;
      }
    }

    &:nth-child(3) {
      position: relative;

      &::after {
        top: 4px;
        right: -12rem;
        width: 13.6rem;
        transform: rotate(-38deg);
        animation: federation-2 1s linear forwards 2s;
      }

      img {
        animation: federation-2-1 .5s linear forwards 3s;
      }
    }
  }

  p {
    opacity: 0;
    animation: federation-2-p 1.5s linear forwards 1s;

    &:nth-of-type(2) {
      animation-delay: 3.5s;
    }
  }
}

@keyframes federation-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes federation-2-1 {
  to {
    box-shadow: 0 0 1rem .6rem #fff;
  }
}

@keyframes federation-2-p {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#federation-3 {
  li {

    &:first-child {

      &::after {
        top: 4rem;
        right: -2.1rem;
        width: 2.4rem;
        animation: federation-2 .5s linear forwards 1s;
      }

      img {
        animation: federation-2-1 .5s linear forwards .5s;
      }
    }

    &:nth-child(2) {

      &::after {
        top: 9.2rem;
        right: -3rem;
        width: 7.4rem;
        transform: rotate(50deg);
        animation: federation-2 .5s linear forwards 4s;
      }

      img {
        box-shadow: 0 0 1rem .6rem #fff;
      }
    }

    &:nth-child(3) {

      &::after {
        top: 4px;
        right: -12rem;
        width: 13.6rem;
        transform: rotate(-38deg);
        opacity: 1;
      }

      img {
        box-shadow: 0 0 1rem .6rem #fff;
      }
    }

    &:nth-child(4) {

      &::after {
        top: 5.1rem;
        left: -17.3rem;
        width: 17.6rem;
        animation: federation-2 .5s linear forwards 4.5s;
      }

      img {
        animation: federation-2-1 .5s linear forwards 4s;
      }
    }

    &:nth-child(5) {
      
      &::before {
        content: "";
        position: absolute;
        top: -12px;
        right: -12rem;
        width: 13.6rem;
        height: 2px;
        background-color: #fff;
        transform: rotate(-30deg);
        opacity: 0;
        animation: federation-2 .5s linear forwards 5s;
      }

      &::after {
        top: -6.4rem;
        left: -.6rem;
        width: 16.3rem;
        transform: rotate(-67deg);
        animation: federation-2 .5s linear forwards 3s;
      }

      img {
        animation: federation-2-1 .5s linear forwards 2.5s;
      }
    }

    &:nth-child(6) {

      &::after {
        top: -6.5rem;
        left: -2.8rem;
        width: 15rem;
        transform: rotate(-90deg);
        animation: federation-2 .5s linear forwards 2s;
      }

      img {
        animation: federation-2-1 .5s linear forwards 1.5s;
      }
    }
  }
}
