.button {
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  background-image: radial-gradient(rgba(47, 121, 160, .5) 52%, rgba(187, 220, 214, 0.47) 83%, rgba(250, 250, 250, 0.25) 100%);
  border: 2px solid #FFFFFF;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 1rem .6rem #fff;
    text-decoration: none;
  }
}

.button-retour {
  color: #000000;
  font-weight: normal;
  text-decoration: underline dashed;

  &:before {
    content: '< ';
  }

  &:hover {
    text-decoration: underline;
  }
}

[type="button"] {
  padding: .9rem 1rem;
  font-size: 1.6rem;
  line-height: 1;
  background: none;
  border: 2px solid #21618e;
  cursor: pointer;
}