html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 10px */
  font-size: calc(1em * 0.625);
  /* fix */
}

body {
  margin: 0;
  padding: 0;
  background: url("./backgrounds/fr_Pepper-and-Carrot_by-David-Revoy_E22P01-fond2sans.jpg") fixed center;
  background-size: cover;
  font-family: "SourceSans", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 50rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;

  &[id*="fin"] {
    .button {
      align-self: center;
      margin-bottom: 3rem;
    }
  }

  article {
    width: 100%;
  }
}

a {
  font-weight: bold;

  &,
  &:visited {
    color: #000;
  }

  &:hover {
    text-decoration: underline dotted;
  }
}


li {
  &:not(:first-of-type) {
    margin-top: 2rem;
  }
}