nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  width: 100%;

  &.a-gauche {
    justify-content: flex-start;
  }

  & > a:first-child:not(:only-child) {
    margin-right: auto;
  }

  &:last-child {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
}