.services {
  padding: 0;

  &.services--vertical {
    li {
      align-items: center;

      &:not(:first-of-type) {
        margin-top: 2rem;
      }

      img {
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
    }
  }

  &.services--circle {
    align-self: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(7, 1fr);
    max-width: 29rem;
    margin-right: -1.5rem;
    margin-left: -1.5rem;

    li {
      position: relative;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: #fff;
        z-index: 0;
        opacity: 0;
      }

      &:first-of-type {
        grid-column-start: 3;
      }

      &:not(:first-of-type) {
        margin-top: 0;
      }

      &:nth-child(2) {
        grid-column-start: 5;
      }

      &:nth-child(3) {
        grid-row-start: 2;
        grid-column-start: 1;
      }

      &:nth-child(4) {
        grid-row-start: 2;
        grid-column-start: 7;
      }

      &:nth-child(5) {
        grid-row-start: 3;
        grid-column-start: 3;
      }

      &:nth-child(6) {
        grid-row-start: 3;
        grid-column-start: 5;
      }
    }

    a {
      font-weight: normal;
      color: #000;
      text-align: center;
      text-decoration: none;

      &:hover {
        img {
          box-shadow: 0 0 1rem .6rem #fff;
        }
      }
    }
  }

  li {
    display: flex;
    list-style-type: none;

    img,
    span {
      position: relative;
      z-index: 2;
    }
  }

  img {
    width: 6rem;
    height: 6rem;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all .2s ease-in-out;
  }

  span {
    display: block;
  }
}