@font-face {
  font-family: 'basker';
  src: url("/fonts/basker-regular/librebaskerville-regular-webfont.woff2") format("woff2"), url("/fonts/basker-regular/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SourceSans';
  src: url("/fonts/sourcesanspro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SourceSans';
  src: url("/fonts/sourcesanspro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1,
h2 {
  font-family: basker, serif; }

.title {
  font-family: basker;
  font-size: 3em;
  margin-bottom: 1em; }

.highlight {
  background-color: rgba(0, 140, 213, 0.2);
  font-weight: bold; }

.other-color {
  color: #21618e;
  font-weight: bold;
  text-shadow: 1px 1px 4px #ffffff; }

.description {
  font-size: 1.125em;
  color: black; }

body {
  margin: 0;
  padding: 0;
  background: url("assets/backgrounds/fr_Pepper-and-Carrot_by-David-Revoy_E22P01-fond2avec.jpg") fixed center;
  background-size: cover;
  font-family: "SourceSans", sans-serif; }

.logo-top {
  display: inline-block;
  margin-right: 1em; }

#app {
  min-height: 100vh;
  padding-bottom: 10vh; }
  #app .hero-foot .navbar {
    position: fixed;
    bottom: 0;
    height: 10vh;
    display: block;
    width: 100vw;
    padding: 1.25rem 0.5rem;
    background: #222; }
    #app .hero-foot .navbar .btn {
      margin: 0.5em;
      padding: 1.5em;
      border-radius: 3px;
      border: solid 1px #2c3e50;
      background: #2c3e50;
      color: white;
      font-weight: 600; }
      #app .hero-foot .navbar .btn:hover {
        background: #222;
        color: yellowgreen; }
  #app .hero-foot .discover {
    float: left; }
  #app .hero-foot .join {
    float: right;
    margin-right: 1em; }

.next {
  float: right; }

/*# sourceMappingURL=main.css.map */
